body {
    font-family: 'Ysabeau Infant', sans-serif;
    
    
}

.fundo {
    background: url(img/stardust.png), #000000;
    color: #fff;
    padding-top: 2%;
}


.collapse{
    font-size: 22px;
}

.logo {
    width: 180px;
    height: auto;
}

.btn-dark {
    background-color: white;
}

.btn 
.btn-dark {
    background-color: #000000;
    border: none;
    transition: background-color 0.2s;
}

.container .btn:hover {
    background-color: #ba4a09;
}